html {
    font-family: 'Courier New', Courier, monospace;
}

h1.header {
    color: white;
}

#brushes {
    background-color: lightgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: lightskyblue;
}

h2 {
    font-weight: bold;
}


